<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConfigFileName" value="diagnostic.xml"/>
    <add key="GoodQualityList" value="good,goodLocalOverride"/>
    <add key="BadQualityList" value="bad"/>
    <add key="FileCommandName" value="cmd.cmd"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>